.blog-link-text {
    color: #1EAEDB
}

.blog-link-text:visited {
    color:#fda6b3;
}

.title {
    text-align: center;    
    margin: 35px 0;
    font-family:"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-text {
    letter-spacing: 3px;
    font-size: 18px;
}